.header
  .header__logo
    グループを作成しました
.contents
  .contents__user
    test-user                
    = fa_icon 'edit' , class: "contents__user--icon"
    = fa_icon 'gear' 
  .contents__btn1
    test-group
  .contents__btn2
    さようなら
  .contents__btn1
    sample-group
  .contents__btn2
    hello!
  .contents__btn1
    example
  .contents__btn2
    まだメッセージがありません
.contents-right 
  .contents-right__user
    sample
  .contents-right__user2
    Members: seo neko
  .contents-right__edit
    Edit
.contents-text 
  .contents-text__user
    test-user
    .contents-text__user--icon
      2019-05-18 13:19:52 UTC
  .contents-text__message
    こんにちは
  .contents-text__user2
    test-user
    .contents-text__user2--icon2
      2019-05-18 13:19:52 UTC
  .contents-text__message2
    さようなら
.contents-search
  .contents-search__text
    type a message
    = fa_icon 'image' , class: "contents-search__text--icon" 
  .contents-search__sent
    Send