.header {
  height: 25px;
  background-color: #38AEF0;
  color: #ffffff;
  &__logo {
    text-align: center;
    font-size: 20px;
  }
}
.contents {
  height: 900px;
  width:300px;
  background-color: #2f3e51;
  position: fixed;

  &__user{
  padding: 50px 20px;
  background-color: #253141;
  color:#FFFFFF;
  font-size:16px;
   &--icon{
   padding-left:140px;
   }
  }
  &__btn1{
    padding: 20px 20px 0px 20px;
    color:#FFFFFF;
    font-size:15px;
  }
  &__btn2{
    padding: 5px 20px 20px 20px;
    color:#FFFFFF;
    font-size:11px;
  }
}

.contents-right{
  background-color: #ffffff;
  width: calc(100% - 300px);
  position: relative;
  float: right;
  border: 1px solid #eeeeee;
  &__user{
    padding: 35px 40px 0px 40px;
    color:#333333;
    font-size:20px;
  }
  &__user2{
    padding: 15px 40px 20px 40px;
    color:#999999;
    font-size:12px;
  }

  &__edit{
    height: 40px;
    width: auto;
    padding: 0px 20px;
    font-size:20px;
    color:#38aef0;
    text-align: center;
    line-height: 40px;
    border: solid #38aef0;
    position: absolute;
    top:28px;
    right: 40px;
  }
}

.contents-text{
  background-color: #FAFAFA;
  height: 460px;
  width: calc(100% - 300px);
  float: right;
  &__user{
    padding: 46px 40px 0px 40px;
    color:#434A54;
    font-size:16px;
    position: relative;
    &--icon{
    padding: 0px 0px 0px 10px;
    color:#999999;
    font-size:12px;
    position: absolute;
    top: 47px;
    left:110px;
    }
  }
  &__message{
    padding: 10px 40px 0px 40px;
    color:#434A54;
    font-size:14px;
  }
  &__user2{
    padding: 40px 40px 0px 40px;
    color:#434A54;
    font-size:16px;
    position: relative;
    &--icon2{
    padding: 0px 0px 0px 10px;
    color:#999999;
    font-size:12px;
    position: absolute;
    top: 45px;
    left:110px;
    }
  }
  &__message2{
    padding: 10px 40px 0px 40px;
    color:#434A54;
    font-size:14px;
  }
}
.contents-search{
  background-color: gray;
  height: 100px;
  width: calc(100% - 300px);
  position: relative;
  float: right;
  &__text{
    width: calc(100% - 250px);
    height: 50px;
    background-color:#ffffff;
    color:#434A54;
    font-size:16px;
    padding: 0px 10px 0px 10px;
    position: absolute;
    line-height: 50px;
    top: 25px;
    left: 40px;
     &--icon{
     padding-left:740px;
     }
  }
  &__sent{
    height: 50px;
    width: 130px;
    font-size:20px;
    color:#38aef0;
    text-align: center;
    line-height: 50px;
    background-color:#38aef0;
    color:#ffffff;
    position: absolute;
    top:25px;
    right: 40px;
  }
}

